* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --primary: #60a5fa;
    --accent: #a855f7;
    --dark: #0f172a;
    --card: rgba(30, 41, 59, 0.75);
    --text: #ffffff;
    --muted: #94a3b8;
}

html {
    scroll-behavior: smooth;
}

body {
    background:
        radial-gradient(circle at top left,
            rgba(168, 85, 247, 0.25),
            transparent 35%),
        radial-gradient(circle at bottom right,
            rgba(59, 130, 246, 0.25),
            transparent 35%),
        #0f172a;
    color: var(--text);
}
/* Navbar */
header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(15, 23, 42, 0.8);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    z-index: 1000;
    border-bottom: 1px solid rgba(255,255,255,0.05);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 10%;
}

.logo {
    font-size: 28px;
    font-weight: 700;
    color: var(--accent);
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 30px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

.nav-links a:hover {
    color: var(--accent);
}

/* Hero */
.hero {
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 120px 10% 80px;
    gap: 50px;
}

.hero-text {
    flex: 1;
}

.hero-text h3 {
    font-size: 24px;
}

.hero-text h1 {
    font-size: 60px;
    color: #dfe2e4;
}

.hero-text h2 {
    font-size: 32px;
    margin: 10px 0;
}

.hero-text p {
    color: var(--muted);
    line-height: 1.8;
    margin-top: 15px;
}

.hero-btns {
    margin-top: 25px;
    display: flex;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
}

.email-input {
    height: 45px;
    width: 260px;
    border-radius: 30px;
    border: none;
    outline: none;
    padding: 0 18px;
    font-size: 15px;
}

.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    padding: 12px 28px;

    background: linear-gradient(
        135deg,
        #60a5fa,
        #a855f7
    );

    color: white;
    text-decoration: none;
    border: none;
    border-radius: 30px;

    cursor: pointer;
    font-size: 15px;
    font-weight: 600;

    min-width: 110px;
    height: 45px;

    transition: 0.3s ease;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 0 20px rgba(168,85,247,0.5);
}
.btn-outline {
    background: transparent;
    border: 2px solid var(--primary);
}

.hero-image img {
    width: 400px;
    height: 500px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid rgba(255,255,255,0.15);

    box-shadow:
        0 0 30px rgba(168,85,247,0.6),
        0 0 60px rgba(59,130,246,0.4);

    transition: 0.4s ease;
}

.hero-image img:hover {
    transform: scale(1.03);
}

/* Common Sections */
section {
    padding: 100px 10%;
}

.section-title {
    text-align: center;
    font-size: 45px;
    margin-bottom: 50px;
    background: linear-gradient(90deg,#60a5fa,#a855f7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.about-content {
    max-width: 800px;
    margin: auto;
    text-align: center;
    line-height: 1.8;
    color:whitesmoke
}

/* Skills */
.skills-content {
    text-align: center;
    margin-bottom: 40px;
    color: white;
    line-height: 1.8;
}

.skills-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 25px;
    justify-content: center;
    align-items: center;
}

.skill-card,
.project-card,
.contact-card {
    background: rgba(30, 41, 59, 0.8);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);

    border: 1px solid rgba(96,165,250,0.8);

    box-shadow:
        0 10px 30px rgba(0,0,0,0.25);
    border-radius: 20px;
    min-height: 160px;
    padding: 25px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    transition: all 0.3s ease;
    
}

.skill-card i {
    font-size: 50px;
    margin-bottom: 15px;
    color: var(--primary);
}

.skill-card:hover,
.project-card:hover,
.contact-card:hover {
    transform: translateY(-10px);

    box-shadow:
        0 0 25px rgba(96,165,250,0.4),
        0 0 50px rgba(168,85,247,0.25);
}
/* Projects */
    
.project-container{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(350px,1fr));
    gap:30px;
    margin-top:40px;
}
.skill-card h3{
    font-size: 30px;
    margin-bottom: 15px;
    font-weight:600;
}

.project-card{
    background:rgba(30,41,59,0.85);
    backdrop-filter:blur(15px);
    -webkit-backdrop-filter:blur(15px);

    border:1px solid rgba(96,165,250,0.25);
    border-radius:25px;

    padding:35px 25px;
    min-height:320px;

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

    text-align:center;

    box-shadow:
        0 10px 30px rgba(0,0,0,0.3);

    transition:all 0.4s ease;
}

.project-card:hover{
    transform:translateY(-10px);
    box-shadow:
        0 0 25px rgba(96,165,250,0.5),
        0 0 50px rgba(168,85,247,0.3);
}

.project-card h3{
    color:white;
    font-size:30px;
    font-weight:700;
    line-height:1.3;
    /* margin-bottom:15px; */
    margin-top: 20px;
}

.project-card p{
    color:#cfd8e3;
    line-height:1.8;
    font-size:17px;
    /* margin-bottom:auto; */
    max-width:90%;
}

.project-buttons{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:30px;
    flex-wrap:wrap;
    width:100%;
    margin-top:auto;
}

.project-card a,
.btn-blue,
.btn-white{
    display:inline-flex;
    justify-content:center;
    align-items:center;
    margin-top: auto;
    min-width:180px;
    height:50px;

    padding:12px 25px;

    border-radius:50px;

    text-decoration:none;
    font-size:15px;
    font-weight:600;

    transition:0.3s ease;
}

.project-card a,
.btn-blue{
    background:linear-gradient(
        135deg,
        #38bdf8,
        #60a5fa
    );

    color:white;
}

.btn-white{
    background:white;
    color:#2563eb;
    border:1px solid #60a5fa;
}

.project-card a:hover,
.btn-blue:hover,
.btn-white:hover{
    transform:translateY(-3px);
    box-shadow:0 0 20px rgba(56,189,248,0.6);
}
/* Contact */

.contact-card{
    width: 220px;
    height: 180px;

    background: rgba(30, 41, 59, 0.75);
    backdrop-filter: blur(12px);

    border: 1px solid rgba(96,165,250,0.3);
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;

    padding: 20px;
}



.contact-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 80px;
    margin-top: 50px;
    margin-left: 12vw;
}

.contact-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    margin-right: 8vw;
}

.contact-card span {
    color: white;
    font-size: 18px;
    font-weight: 500;
}

.contact-icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: var(--primary);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 24px;
    flex-shrink: 0;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 360px;
}

.contact-form input,
.contact-form textarea {
    padding: 15px;
    border: none;
    outline: none;
    border-radius: 10px;
    background: var(--card);
    color: white;
    resize: none;
}

.contact-form button {
    align-self: flex-start;
}

/* Footer */
footer {
    text-align: center;
    padding: 25px;
    background: rgba(15,23,42,0.9);
    border-top: 1px solid rgba(255,255,255,0.05);
}

section {
    position: relative;
}

section::before {
    content: "";
    position: absolute;
    width: 300px;
    height: 300px;

    background: rgba(168,85,247,0.08);
    filter: blur(100px);

    border-radius: 50%;

    top: 0;
    left: 0;

    z-index: -1;
}

/* ========================= /
/ TABLET RESPONSIVE /
/ ========================= */

@media (max-width: 1024px) {

.hero {
    flex-direction: column-reverse;
    text-align: center;
    padding-top: 140px;
}

.hero-btns {
    justify-content: center;
}

.hero-image img {
    width: 320px;
    height: 320px;
}

.contact-wrapper {
    flex-direction: column;
    align-items: center;
    gap: 40px;
    margin-left: 0;
}

.contact-info {
    margin-right: 0;
}

.contact-form {
    width: 100%;
    max-width: 500px;
}

}

/* ========================= /
/ MOBILE RESPONSIVE /
/ ========================= */

@media (max-width: 768px) {

.navbar {
    flex-direction: column;
    gap: 15px;
    padding: 15px 5%;
}

.nav-links {
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.hero {
    padding: 150px 5% 80px;
    gap: 30px;
}

.hero-text h1 {
    font-size: 42px;
}

.hero-text h2 {
    font-size: 24px;
}

.hero-text h3 {
    font-size: 20px;
}

.hero-image img {
    width: 260px;
    height: 260px;
}

.section-title {
    font-size: 34px;
}

.project-container {
    grid-template-columns: 1fr;
}

.skills-container {
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
}

.contact-card {
    width: 100%;
    max-width: 260px;
}

.contact-form {
    width: 100%;
}

.email-input {
    width: 100%;
}

.hero-btns {
    flex-direction: column;
    width: 100%;
}

.btn {
    width: 100%;
    max-width: 250px;
}

}

/* ========================= /
/ SMALL PHONE RESPONSIVE /
/ ========================= */

@media (max-width: 480px) {

.hero-text h1 {
    font-size: 34px;
}

.hero-text h2 {
    font-size: 20px;
}

.hero-image img {
    width: 220px;
    height: 220px;
}

.section-title {
    font-size: 28px;
}

.project-card {
    min-height: auto;
    padding: 25px 20px;
}

.project-card h3 {
    font-size: 24px;
}

.project-card p {
    font-size: 15px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
}

}


